body {
    background: #545456;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
  }
  
  h1 {
    font-size: 45px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .img{
      text-align: center;
  }
  
  .container {
    position: relative;
    margin: 0 auto auto auto;
    max-width: 500px;
    background: rgba(49, 49, 49, 0.34);
    box-shadow: 0 7px 7px -7px #000;
    min-height: 280px;
  }
  
  .main_info {
    width: 33.3%;
    float: left;
    text-align: center;
  }
  
  .icon_info {
    text-align: center;
  }
  
  .info {
    text-align: center;
    font-size: 18px;
  }
  
  .weather_body {
    text-transform: none; 
  }
  
  .weather_body::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px;
    clear: both;
  }
  
  .city  {
    text-align: center;
  }
  
  h5 {
   font-size: 14px;   
  }
  
  p {
    font-size: 14px;
    text-align: center;
  }
  
  h6 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
  .forecastForThreeDaysBtn{
    text-align: center;
  }
 
button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgba(34, 34, 34, 0.34);
    height: 30px;
    border-radius: 7px;
}

button:hover {
    background-color: #c5c5c5;
    color: rgb(0, 0, 0);
}

.days{
  display: none;
}
  .weather_body_forecast{
    float: left;
  }
 .secondary_info_forecast{
   text-align: center;
  font-size: 13px;
 }
  

  .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  } 
